{% extends 'layouts/base.html' %}

{% set page_title = _('Accueil') %}

{% block js %}
<script src="{{url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

{% block content %}

<h1>{{ _("index-bienvenue") }}</h1>

<p>{{ _("index-privacy.") }}</p>

<div class="box">
    <div class="box-title">
        {{ _("IMPORTANT") }}
    </div>
    <div class="box-content">
        <p>{{ _("index-important") }}</p>
        <p>{{ _("index-important-2") }}</p>
    </div>
</div>

<div class="signalement-buttons">
    <a href="#" id="new-signalement">{{ _("nouveau-signalement") }}</a>
    <a href="{{ url_for('frontend.suivi')}}">{{ _("acceder-signalement") }}</a>
</div>

<div class="box">
    <div class="box-title">
        {{ _('À SAVOIR') }}
    </div>
    <div class="box-content">
        <p>{{ _("index-a-savoir") }}</p>
        <p>{{ _("index-a-savoir-2") }}</p>
        <p>{{ _("index-a-savoir-3") }}</p>
    </div>
</div>

<div id="ns-modal-overlay">
<div id="ns-modal">
    <div class="ns-modal-content">
        <div class="ns-modal-header">
            {{ _("Note importante") }}
        </div>
        <div class="ns-modal-body">
            <p>{{ _("IMPORTANT") }}</p>
            <p><ul>
                <li>{{ _("index-note") }} </li>
                <li>{{ _("index-note-2") }}</li>
                <li>{{ _("index-note-3") }}</li>
                <li>{{ _("index-note-4") }}</li>
            </ul></p>
        </div>
        <div class="ns-modal-footer">
            <a id="ns-modal-OK" href="{{ url_for('frontend.signalement') }}">{{ _("Accepter") }}</a>
            <a id="ns-modal-dismiss" href="#">{{ _("Fermer") }}</a>
        </div>
    </div>
</div>
</div>

{% endblock %}
