.dashboard-table{
    border-collapse: collapse;
    margin: 25px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}
.dashboard-table thead tr {
    text-align: left;
}
.dashboard-table th,
.dashboard-table td {
    padding: 12px 15px;
}
.dashboard-table tbody tr {
    border-bottom: thin solid #dddddd;
}
.dashboard-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.dashboard-table-new thead tr{
    background-color: red;
    color: white;
}
.dashboard-table-new tbody tr:last-of-type {
    border-bottom: 2px solid #980079;
}
.dashboard-table-open thead tr {
    background-color: orange;
    color: white;
}
.dashboard-table-open tbody tr:last-of-type {
    border-bottom: 2px solid #985500;
}
.dashboard-table-close thead tr {
    background-color: green;
    color: white;
}
.dashboard-table-close tbody tr:last-of-type {
    border-bottom: 2px solid #004500;
}
.dashboard-cat {
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}
.dashboard-name {
    font-size: 1.3em;
}
.dashboard-infos-text {
    padding: 10px;
}
.dashboard-signalement-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.dashboard-signalement {
    width: 100%;
}
.dashboard-signalement-statut {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .dashboard-signalement-container {
        flex-direction: row-reverse;
    }
    .dashboard-signalement-statut {
        width: 28%;
        margin-left: 2%;
    }
    .dashboard-signalement {
        width: 70%;
    }
}
.dashboard-signalement-statut-new {
    background-color: red;
    color: white;
}
.dashboard-signalement-statut-opened {
    background-color: orange;
    color: white;
}
.dashboard-signalement-statut-closed {
    background-color: green;
    color: white;
}
